<div class="brk-view__container">
  <div class="brk-view__container--row-1">
    <mat-form-field appearance="outline">
      <mat-label>L Code</mat-label>
      <input #LOTInput (keydown)="keypressLOT($event,LOTInput.value)" matInput name="L Code" aria-label="L Code"
        [matAutocomplete]="autoLOT" [formControl]="LOTCtrl" [(ngModel)]="L_CODE" />
      <mat-autocomplete #autoLOT="matAutocomplete">
        <mat-option (onSelectionChange)="LOTInput.value !=undefined && onEnterLOT($event)"
          *ngFor="let lot of filteredLOTs | async" [value]="lot.CODE" (click)="GetLotName(lot.NAME,lot.CARAT)">
          <span class="s-right">{{lot.CODE}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>L Name</mat-label>
      <input matInput type="text" name="L Name" [(ngModel)]="L_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>L Carat</mat-label>
      <input matInput type="number" name="L Carat" [ngModel]="L_CARAT | setFloat:3"
        [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="L_CARAT = $event" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>SrNo</mat-label>
      <input matInput type="number" name="SrNo" [(ngModel)]="SRNO" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ToSrNo</mat-label>
      <input matInput type="number" name="ToSrNo" [(ngModel)]="SRNOTO" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tag</mat-label>
      <input matInput type="text" name="Tag" [(ngModel)]="TAG" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mrk</mat-label>
      <input matInput type="text" name="Marker" [matAutocomplete]="autoMRK" [formControl]="MRKCtrl"
        [(ngModel)]="MRK_CODE" (ngModelChange)="GetMRKName()" />
      <mat-autocomplete #autoMRK="matAutocomplete">
        <mat-option *ngFor="let emp of filteredMRKs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mrk Name</mat-label>
      <input matInput type="text" name="Mrk-Name" [(ngModel)]="MRK_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Grp</mat-label>
      <input matInput type="text" name="Grp" [(ngModel)]="GRP" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Process</mat-label>
      <input matInput type="text" name="Marker" aria-label="Marker" [matAutocomplete]="autoPRC" [formControl]="PRCCtrl"
        [(ngModel)]="TPROC_CODE" (ngModelChange)="GetPRCName();GETOTHERDATA()" />
      <mat-autocomplete #autoPRC="matAutocomplete">
        <mat-option *ngFor="let emp of filteredPRCs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Process Name</mat-label>
      <input matInput type="text" name="PRC-Name" [(ngModel)]="TPROC_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline" (click)="TD1.open()">
      <mat-label>From Date *</mat-label>
      <input matInput [matDatepicker]="TD1" [readonly]="true" [(ngModel)]="TDATE" />
      <mat-datepicker-toggle matSuffix [for]="TD1"></mat-datepicker-toggle>
      <mat-datepicker #TD1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" (click)="FD1.open()">
      <mat-label>To Date *</mat-label>
      <input matInput [matDatepicker]="FD1" [readonly]="true" [(ngModel)]="FDATE" />
      <mat-datepicker-toggle matSuffix [for]="FD1"></mat-datepicker-toggle>
      <mat-datepicker #FD1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Party</mat-label>
      <input matInput type="text" name="Party" [matAutocomplete]="autoP" [formControl]="PCtrl" [(ngModel)]="P_CODE"
        (ngModelChange)="GetPName()" />
      <mat-autocomplete #autoP="matAutocomplete">
        <mat-option *ngFor="let emp of filteredPs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Party Name</mat-label>
      <input matInput type="text" name="Party-Name" [(ngModel)]="P_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Emp</mat-label>
      <input matInput type="text" name="Employee" [matAutocomplete]="autoEMP" [formControl]="EMPCtrl"
        [(ngModel)]="EMP_CODE" (ngModelChange)="GetEMPName()" />
      <mat-autocomplete #autoEMP="matAutocomplete">
        <mat-option *ngFor="let emp of filteredEMPs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Emp Name</mat-label>
      <input matInput type="text" name="Emp-Name" [(ngModel)]="EMP_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Manager</mat-label>
      <input matInput type="text" name="Manager" [matAutocomplete]="autoM" [formControl]="MCtrl" [(ngModel)]="M_CODE"
        (ngModelChange)="GetMName()" />
      <mat-autocomplete #autoM="matAutocomplete">
        <mat-option *ngFor="let emp of filteredMs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Manager Name</mat-label>
      <input matInput type="text" name="Manager-Name" [(ngModel)]="M_NAME" disabled />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Remark</mat-label>
      <input matInput type="text" name="Remark" [matAutocomplete]="autoRE" [formControl]="RECtrl" [(ngModel)]="RE_CODE"
        (ngModelChange)="GetREName()" />
      <mat-autocomplete #autoRE="matAutocomplete">
        <mat-option *ngFor="let emp of filteredREs | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Remark Name</mat-label>
      <input matInput type="text" name="Remark-Name" [(ngModel)]="RE_NAME" disabled />
    </mat-form-field>

    <mat-form-field class='password' appearance="outline">
      <input [type]="hide ? 'password' : 'text'" matInput name="Password" autocomplete="off" [(ngModel)]="PASSWORD"
        (ngModelChange)="CHANGEPASSWORD();" />
      <mat-icon class="mat-icon-dark" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>

    <div class="btn-grp">
      <button class="btn theme-btn" matTooltip='Show' matTooltipClass="custom-tooltip" (click)="LoadGridData()">
        <i class="icon-show mat-icon"></i>
      </button>
      <button class="btn theme-btn" matTooltip='Save' matTooltipClass="custom-tooltip" [hidden]="HIDESAVE"
        (click)="Save()">
        <i class="icon-save mat-icon"></i>
      </button>
      <button class="btn theme-btn" matTooltip='Print' matTooltipClass="custom-tooltip" (click)="Print()">
        <i class="icon-print mat-icon"></i>
      </button>
    </div>
  </div>

  <div class="brk-view__container--row-2">
    <ag-grid-angular style="width: 100%; height: 65vh;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
      [pagination]="true" [columnDefs]="columnDefs" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)"
      (rowClicked)='onGridRowClicked($event)' [animateRows]="true" [getRowStyle]="getRowStyle"
      (cellDoubleClicked)="onCellDoubleClicked($event)">
    </ag-grid-angular>
  </div>
</div>
