<div class="row-1">
  <p>Stock</p>

  <button class="btn theme-btn" matTooltip='Reload Grid' matTooltipClass="custom-tooltip" (click)="LoadGridData();">
    <i class="icon-refresh mat-icon"></i>
  </button>

  <button class="btn theme-btn" matTooltip='Close' matTooltipClass="custom-tooltip"
    (click)="closeChild('DashStockComponent')">
    <i class="icon-close mat-icon"></i>
  </button>

</div>

<ag-grid-angular style="width: 100%; height:90%;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true">
</ag-grid-angular>
