<div [ngClass]="{'prc-inw__container-1': r_grp === false, 'prc-inw__container-2': r_grp === true}">
  <div class="mast__r-group">
    <mat-radio-group class="r-group" [(ngModel)]="TPROC_CODE" (ngModelChange)="FillSubPrc(); CheckEmp();">
      <mat-radio-button class="rad-btn" *ngFor="let item of PRArr" [value]="item.PRC_CODE">{{item.PRC_NAME}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mast__r-group" *ngIf="r_grp">
    <mat-radio-group class="r-group" [(ngModel)]="PRC_TYP">
      <mat-radio-button class="rad-btn" *ngFor="let item of SPRArr" [value]="item.PRC_CODE">{{item.PRC_NAME}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mast__container--row-1">
    <mat-form-field appearance="outline">
      <mat-label>Pnt</mat-label>
      <input matInput type="number" name="Pnt" autocomplete="off" [(ngModel)]="LPnt" />
    </mat-form-field>

    <mat-form-field appearance="outline" (click)="ID1.open()">
      <mat-label>I Date</mat-label>
      <input matInput [matDatepicker]="ID1" [readonly]="true" [(ngModel)]="I_DATE" />
      <mat-datepicker-toggle matSuffix [for]="ID1"></mat-datepicker-toggle>
      <mat-datepicker #ID1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>I No</mat-label>
      <input matInput type="number" name="I No" autocomplete="off" [(ngModel)]="INO" (keydown)="LOADGRID($event)" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>L Code</mat-label>
      <input matInput type="text" name="L Code" id='lcode' autocomplete="off" [(ngModel)]="L_CODE" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sr No</mat-label>
      <input matInput type="number" name="Sr No" autocomplete="off" [(ngModel)]="SRNO" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tag</mat-label>
      <input matInput type="text" name="Tag" (keydown.enter)="Save()" autocomplete="off" [(ngModel)]="TAG"
        (ngModelChange)="TAG = $event.toUpperCase()" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="show">
      <mat-label>Emp</mat-label>
      <input matInput name="Emp" aria-label="Emp" [matAutocomplete]="autoFL" [formControl]="empCtrl"
        [(ngModel)]="EMP_CODE" (blur)="Clear();EmpDiasbledValue()" [disabled]="EMPDISABLE" />
      <mat-autocomplete #autoFL="matAutocomplete">
        <mat-option *ngFor="let emp of filteredEmps | async" [value]="emp.code">
          <span>{{ emp.code }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-checkbox class="example-margin" [(ngModel)]="StkFlg">Stock</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="IS_FAN">Fancy</mat-checkbox>
    <div class="col-span-2 prc-inw-r-grp">
      <mat-radio-group [(ngModel)]="Urgent" (change)="URGENTCHANGE()">
        <mat-radio-button class="prc-inw-r-btn" value="A">All</mat-radio-button>
        <mat-radio-button class="prc-inw-r-btn" value="G">GIA Rolling</mat-radio-button>
        <mat-radio-button class="prc-inw-r-btn" value="U">Urgent Rolling</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="mast__container--row-2">
    <ag-grid-angular style="width: 100%; height: 65vh;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true"
      (rowClicked)='onGridRowClicked($event)' [pinnedBottomRowData]="pinnedBottomRowData"
      [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
  </div>

  <div class="btn-grp">
    <button class="btn theme-btn" matTooltip='Barcode' matTooltipClass="custom-tooltip" (click)="BARCODE()">
      <i class="icon-barcode mat-icon"></i>
    </button>
    <button class="btn theme-btn" matTooltip='Print' matTooltipClass="custom-tooltip" (click)="PRINT()">
      <i class="icon-print mat-icon"></i>
    </button>
  </div>

  <ngx-spinner>
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
