<div class="inn-prc-ret-slip__container">
  <div class="mast__r-group">

    <mat-radio-group class="r-group" [(ngModel)]="PRC_CODE" (change)="clear()">
      <mat-radio-button class="rad-btn" *ngFor="let item of PRArr" [value]="item.PRC_CODE">
        {{item.PRC_NAME}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mast__r-group">
    <mat-radio-group class="r-group" [(ngModel)]="TPRC_CODE" (change)="clear()">
      <mat-radio-button class="rad-btn" value="F">Final</mat-radio-button>
      <mat-radio-button class="rad-btn" value="UP">UnProcess</mat-radio-button>
      <mat-radio-button class="rad-btn" value="B">Breaking</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mast__container--row-1">
    <mat-form-field appearance="outline">
      <mat-label>PNT</mat-label>
      <input matInput type="number" name="PNT" autocomplete="off" [(ngModel)]="PNT" />
    </mat-form-field>

    <mat-form-field appearance="outline" (click)="ID1.open()">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="ID1" [readonly]="true" [(ngModel)]="I_DATE" (dateChange)="DateFill()" />
      <mat-datepicker-toggle matSuffix [for]="ID1"></mat-datepicker-toggle>
      <mat-datepicker #ID1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RNO</mat-label>
      <input #inputBox matInput type="number" name="RNO" autocomplete="off" [(ngModel)]="RNO"
        (focus)="$event.target.select()" (blur)="Fill(); DateFill();" />
    </mat-form-field>
  </div>
  <div class="mast__container--row-2">
    <ag-grid-angular style="width: 100%; height: 70vh;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true">
    </ag-grid-angular>
  </div>
  <div class="mast__container--row-3">
    <div class="btn-grp">
      <button class="btn theme-btn" matTooltip='Print' matTooltipClass="custom-tooltip" (click)="Save();PRINT();">
        <i class="icon-print mat-icon"></i>
      </button>
    </div>
  </div>
</div>
