<div class="mast__container">
  <div class="mast__container--row-1">
    <mat-form-field appearance="outline">
      <mat-label>Code *</mat-label>
      <input matInput type="text" name="Code" (ngModelChange)="CODECHANGE()" autocomplete="off" [(ngModel)]="S_CODE" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name *</mat-label>
      <input matInput type="text" name="Name" autocomplete="off" [(ngModel)]="S_NAME"
        (ngModelChange)="S_NAME = $event.toUpperCase()" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>GS Name *</mat-label>
      <input matInput type="text" name="GS Name" autocomplete="off" [(ngModel)]="GS_CODE"
        (ngModelChange)="GS_CODE = $event.toUpperCase()" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Import Name</mat-label>
      <input matInput type="text" name="Import Name" autocomplete="off" [(ngModel)]="ADV_NAME"
        (ngModelChange)="ADV_NAME = $event.toUpperCase()" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Order *</mat-label>
      <input matInput type="number" name="Order" autocomplete="off" [(ngModel)]="ORD" (blur)="Save();" />
    </mat-form-field>

    <div class="btn-grp">
      <button class="btn theme-btn" matTooltip='Clear' matTooltipClass="custom-tooltip" (click)="Clear()">
        <i class="icon-refresh mat-icon"></i>
      </button>
    </div>

  </div>




  <div class="mast__container--row-2">
    <ag-grid-angular style="width: 100%; height: 70vh;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true"
      (rowClicked)='onGridRowClicked($event)'>
    </ag-grid-angular>

    <mat-form-field class='mt-2 password' appearance="outline">
      <input [type]="hide ? 'password' : 'text'" matInput name="Password" autocomplete="off" [(ngModel)]="PASSWORD"
        (ngModelChange)="CHANGEPASSWORD();" />
      <mat-icon class="mat-icon-dark" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>
  </div>
</div>



<ngx-spinner>
  <p style="color: white"> Loading... </p>
</ngx-spinner>
